<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iOSCharts" version="3.1.1.2" targetFramework="xamarinios10" />
  <package id="NuGet.Build.Packaging" version="0.2.2" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Xamarin.Forms" version="3.1.0.697729" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4" version="4.0.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.Core" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.CoreAudio" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.CoreData" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.CoreFoundation" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.CoreGraphics" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.CoreImage" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.CoreMedia" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.Darwin" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.Dispatch" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.Foundation" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.Metal" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.ObjectiveC" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.OS" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.QuartzCore" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.UIKit" version="4.1.2" targetFramework="xamarinios10" />
</packages>